body {
    background-color: lightcyan;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: blue;
    text-align: center;
}
h2 {
    color: black;
    text-align: left;
}
h3 {
    text-align: left;
    color: blue;
}
.about {
    text-align: left;
    width: 100%;
    color: blue;
}
.skills {
text-align: left;
width: 100%;
color: blue;
}
.projects {
    text-align: left;
    width: 100%;
    color: blue;
}
.contact {
    text-align: left;
    width: 100%;
    color: blue;
}
