body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: darkblue;
    text-align: center;
}
h2{
    color: black;
    text-align: left;
}
.about {
    text-align: left;
    width: 100%;
    color: blue;
}
.skills {
text-align: left;
width: 100%;
color: blue;
}
.projects {
    text-align: left;
    width: 100%;
    color: blue;
}
