/* Structure */
#main-header {
    background:blanchedalmond;
}

#main-content {
    background-color:cornflowerblue;
    padding:5px;
}

#main-footer {
    background-color:blanchedalmond;
    padding:5px;
}

#sidebar {
    padding-left: 0;
    text-align: center;
}

#sidebar li {
    padding: 0px;
    list-style-type: none;
    background-color: white;
    border-bottom: 1px solid white;
}

#sidebar a {
    text-decoration: none;
    padding: 5px;
    margin: 2px;
    color: lightcoral;
    display: block;
    border: 1px solid white;
}

.column {
    padding:5px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;

}

.col1of2 {
    background-color:antiquewhite;
}

.col1of3, .col2of3 {
    background-color:azure;
}

.col1of4, .col2of4 {
    background-color:pink;
}


/* Navigation */
#main-nav ul {
    padding-left: 0;
    text-align: center;
}

#main-nav li {
    padding: 0px;
    list-style-type: none;
    background-color: lightcoral;
    border-bottom: 1px solid grey;
}

#main-nav a {
    text-decoration: none;
    padding: 5px;
    color: white;
    display: block;
    border: 1px solid white;
}


/* Typography */
body {
    font-family: Arial, Helvetica, sans-serif;
}

#main-header h1 {
    text-align: center;
}

#main-content h2 {
    color:white;
}

#main-footer p {
    text-align: center;
}

/* Larger Resolutions */
@media (min-width: 900px) {
    #main-nav ul, .flex-container{
        display: flex;
    }

    #main-nav li,
    #sidebar li,
     .col1of2, .col1of3, .col1of4{
        flex: 1;
    }

    .col2of3, .col2of4 {
        flex: 2;
    }


}