/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background:url(images/cars03.jpg);
}

#content {
    background: rgba(225, 122, 122, 0.7);
    width: 75%;
    margin: auto;
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 10px 5px #fa8788;
}

/* Images */
img {
    padding: 10px;
    margin: 10px;
    border: 2px solid #87cefa;
    border-radius: 4px;
}

/* Tables */
table {
    border-collapse: collapse;
    margin: auto;
}

th, 
td {
    border: 3px solid #87cefa;
    padding: 10px;
}

th {
    background-color: #faf887;
}

td {
    background-color: #f4f5f6;
}

/* Typography */
h1 {
    color: #faf887;
}    

h2 {
    color: #87cefa;
}

p {
    color: #e9ebed;
}