/* Structure */
body {
    background: #87cefa;
    font-family: Arial, Helvetica, sans-serif;
}

/* Images */
img {
    border: 5px solid #fa8788;
    border-radius: 4px;
}

/* Tables */
table {
    border-collapse: collapse;
}

th, 
td {
    border: 1px solid #909da5;
    padding: 4px;
}

th {
    background-color: #faf887;
}

td {
    background-color: #f4f5f6;
}

/* Typography */
h1 {
    color: #faf887;
}    

h2 {
    color: #fb9394;
}