/* Dorian Rhone CSCE242 Assignment 10 */

/* Structure */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: lightblue;
    color: black;

}

header {
    padding: 10px;
    text-align: center;
}

main {
    padding: 10px;
}

/* hidden */
.hidden {
    display: none;
}

/* destination type */
#destination-type {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

/* destination output */
#destination-output {
    margin: 10px 0;
}

#destination-output a {
    text-decoration: none;
    color: blue;
    cursor:pointer;
    font-size: 16px;
}

/* Footer */
footer {
    padding: 10px;
    text-align: center;
}

/* Map */
#map iframe {
    margin: auto;
    width: 100%;
    max-width: 600px;
    display: block;
}

/* Responsive Design */
@media (max-width: 600px) {

    #map iframe{
        height: 300px;
    }

    #destination-output a {
        font-size: 14px;
    }

}