/* Structural */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(images/car.jpg);
    background-size: cover;
}

#content {
    background-color:rgb(1255, 255, 255, 0.8);
    width: 70%;
    margin: auto; /* Center in the page */
    border-radius: 5px;
    box-shadow: 5px 5px rgba(255, 4, 75, 0.626);
}

header, main, footer{
    padding: 5px;
}

header, footer {
    background: rgb(238, 42, 94);
    color: white;
}

/* Navigation*/


/* Typography */
h1 {
    color: navy;
}