/* Dorian Rhone CSCE242 assignment11 */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

header {
    text-align: center;
    padding: 0px;
}

main {
    margin: 20px;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px;
}

/* Project Styles */
.projects.place {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.project-card {
    min-width: 320px;
    max-width: 375px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.3s ease;
}

.project-card:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.projects.place a {
    text-decoration: none;
    color: inherit;
}

/* modal */
.modal {
    width: 80%;
    max-width: 700px;
    padding: 0px;
    border: none;
    border-radius: 10px;
    background-color: lightblue;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-body {
    padding: 20px;
    margin: auto;
    display: flex;
}

.modal-body li {
    position: relative;
    padding: 1px;
    width: 100%;
    list-style: none;
}

.modal-left iframe {
    width: 100%;
    min-width: 300px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* Styles for the place cards */
.place {
    margin: 20px 0;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 5px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.hidden {
    display: none;
}

@media (max-width: 600px) {
    .place {
        margin: auto;
        padding: 10px;
        display: flex;
    }

    img {
        width: 100%;
        height: auto;
        margin: auto;
    }

    .modal-body {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 0;
    }

    .modal-left iframe {
        width: 100%;
        min-width: 300px;
    }
}